* {
    box-sizing: border-box;
  }
  
  html, body {
  
    margin: 0;
  }
  .container {
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: column;
    
  }
 
  .title {
    flex: 1;
    padding: 10%;
    background-image: url("https://www.raynaldethien.fr/Fonds%20ecran/Altocumulus_10_1_1.jpg");
      }

    header {
        color: white;
    }

  nav {
    border: 2px solid black;
    opacity: 0.4;
    border-bottom-right-radius: 10px;
    display: flex;
    padding: 1%;
    justify-content: space-around;
    width: 50%;
    margin-left: -13%;
    margin-top: -13%;
  }

  h1 {
      text-align: center;
  }

.title2{
    opacity: 0.4;
    text-align: center;
}

.p {
    /*border: 2px solid green;*/
    position: relative;
   
}


.introbis {
    flex: 2;
    padding: 9%;
    display: flex;
    flex-wrap: wrap;
    background-color: #51d1e9;
}

.intro {
    background-color: #51d1e9;
    top: -4%;
}
.tit {
    /*border: 2px solid red;*/
    position: absolute;
    text-align: center;
    font-weight: bold;
    left: 42%;
    width: 12%;
    padding: 1%;
    top: -4%;
    
}
.c {
    text-align: center;
    margin-left: 5%;
    width: 90%;
    color: white;
}
.cadre {
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 5%;
    padding: 2%;
    width: 90%;
    text-align: center;
    color: white;
}
.cadre2 {
    border: 2px solid #30313a;
    border-radius: 6px;
    margin-left: 40%;
    margin-top: 5%;
    width: 10%;
    padding: 13px 0 9px 0;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    
}
.a {
    background-color: #30313a;
    color: #c9cac9;  
}
.b{
    margin-left: 1%;
}
.bio{ 
    background-color: white;
}
.biobis {
    flex: 2;
    padding: 5%;
    padding-left: 13%;
}
.imgbio img{
    width: 100%;
    height: 10%;
}
.imgbio {
    /*border: 2px solid violet;*/
    width: 90%;
    height: 50%;
    padding: 14%;
    background-image: url("https://cdn.pixabay.com/photo/2018/09/15/12/45/eyes-3679323_960_720.png")
}
.f {
      width: 85%;
      text-align: center;
  }
  
table {
    caption-side: top;
    border: 1px solid grey;
    text-align: center;
    width: 85%;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 200%;
}

caption {
    background-color: #51d1e9;
    text-align: center;
    word-spacing: 410px;
    padding-left: 5%;
}

td {
    width: 15%;
}
.ligne {
    border: 1px solid grey;  
}

.r { 
    background-color: #30313a
}

.g {
    text-align: left;
    color: white;
}

.work {
    background-color: #eef0f0;
}

.workbis {
    flex: 2;
    padding: 5%;
    text-align: center;
    background-color: #eef0f0;
}

.worked {
    display: flex;
    justify-content: space-around;
}

.photo {
    border: 10px solid white;
}

.photo img{
 width: 100%;
}

.workter {
width: 20%;
}

.read {
    background-color: #51d1e9;
    color: white;
    padding: 15px 0 12px 0;
}

.contact {
    background-color: #30313a;
    color: #c9cac9;
}

.contactbis {
    flex: 3;
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: #30313a;
    height: 100%;
}

.contacter {
    color: #c9cac9;
    width: 55%;
    padding-right: 1%;
    margin-left: -15%;
}
.civilite {
    margin-bottom: 2%;
}

.form {
    /*border: 2px solid orange;*/
    display: flex;
    flex-direction: column;
  }

  .form input {
    border: none;
    width: 100%;
    background-color: #57585f;
    color: #51d1e9;
    padding-top: 3%;
    padding-bottom: 3%;
    
  }
  
  .subject{
    /*border: 2px solid orange;*/
    background-color: #30313a;
    color: white;
    font-size: 110%;
    text-align: left;
    margin-top: 1%;
  }

  .name {
    /*border: 2px solid blue;*/
    background-color: #30313a;
  }

  .mail {
    /*border: 2px solid blue;*/
    background-color: #30313a;
    margin-top: 1%;
  
  }
 .message input {
    /*border: 2px solid blue;*/
    padding-top: 3%;
    padding-bottom: 30%;
    background-color: #57585f;
  }

  .submit {
    /*border: 2px solid orange;*/
    margin-top: 5%;
    background-color: #30313a;
    color: #30313a;
  }

  .submit2 {
    background-color: #51d1e9;
    color: #30313a;
    font-weight: bold;
    border: 2px solid #30313a;
    border-radius: 8px;
    padding: 12px 10px 8px 10px;
  
  }
  
  .detail {
    width: 30%;
      border-left: solid #57585f;
      margin-left: 1%;
      padding: 1%;
      color: #57585f;
  }

footer {
    /*border: 2px solid black;*/
    background-color: black;
    color: white;
    padding: 50px 20px 50px 20px;
}
